body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;  
    background: linear-gradient(-45deg, rgba(5,133,249,1) 0%, rgba(95,158,162,1) 62%, rgba(25,230,117,1) 87%, rgba(0,255,38,1) 100%);
    animation: change 10s ease-in-out infinite;
    position: relative;
    background-size: 400% 400%;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#text_container {
    width: 60%;
    height: 20%;
    margin: 0 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(25,181,230, 1);
    margin-bottom: 20px;
}

h1 {
    color: white;
    padding: 20px 20px 0px 20px;
}

h2 {
    color: white;
    padding: 20px 20px 0px 20px;
}

#btn {
    width: 20%;
    height: 5%;
    opacity: 0.8;
    background-color: rgb(25,181,230);
    border-style: none;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease;
}

#btn:hover {
    opacity: 1;
}

@keyframes change {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}